extends layout 

block content
  form(action=".", method="POST")
    label(for="name") Name:
    input(
      	type="text"
      	id="name"
      	name="name"
	    value=10
    )
    br
    label(for="latitude") Cordenada X:
    input(
      	type="text"
      	id="latitude"
      	name="latitude"
	    value=10
    )
    br
    label(for="longitude") Cordenada Y:
    input(
      	type="text"
      	id="longitude"
      	name="longitude"
	    value=1
    )
    input(type="submit" value="cadastrar")